* {
    box-sizing: border-box;
}

.images {
    max-width: 100%;
}


/*#wrongguessesdiv {
    background-color: cadetblue;
   
}

#worddiv {
    background-color: coral;
}

#updates {
    background-color: chartreuse;
}

p {
    color: red;
}*/

